
.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  width: 100vw;
  height: 100vh;
  color: #2f2f2f;
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 17px;
}

#header {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
  background-color: #1A2238;
}

#bodyContainer {
display: flex;
flex-direction: row;
}


#footer {
background-color: #1A2238;
color: white;
margin-top: 25px;
border-radius: 17% 17% 0% 0% / 19% 19% 10% 10%  
}